/* Put your css here for your table and page styling */

body {
background-color: #fff ;
}



table, th, td {
    border: 10px solid black;
    width: 50px;
    padding: 5px;
    background-color: #590000;
    
    
}


table td {
  margin: 0 5px 1px 1px
}


